# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates
*.svclog
.vs/
.vscode/settings.json

# Build results
[Aa]rtifacts/
[Dd]ebug/
[Rr]elease/
[Bb]inaries/
[Bb]in/
[Oo]bj/
.dotnet/
.tools/
.packages/
.nuget/
.complog/
/MSBuild_Logs/